numpy
opencv-python
requests
pymavlink
websockets==11.0.3
pyserial
scikit-learn
empy
pexpect
setuptools
wheel
dronecan
future
pyyaml
packaging
MAVProxy
gnureadline
# PyQt5 Causes conflicts in Linux, do sudo apt install python3-pyqt5 instead
pyqtgraph
matplotlib
pillow
pyproj
geographiclib
shapely
catkin_pkg
ultralytics